.header{
    padding-top: 30px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.menu{
    width: 37%;
    display: flex;
    justify-content: space-between;
    
}
.menu-item{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    letter-spacing: .138rem;
}
.menu-item a{
    font: bolder;
    font-size: 14px;
    color: white;
}
#img-search{
   padding-right: 15px;
    height: 30px;
}
#searchText{
    width: 100px;
    opacity: 0;
}
#search{
    margin-left: 40px;
    height: 40px;
    margin-right: 40px;
    background-color: white;
    border-radius: 6rem;
    display: flex;
    align-items:center;
}