@import url(header.css);
@import url(banner.css);

*{
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.background-container{
    margin: 0;
    height: calc(100vh + 110px);
    background-image: url(../assets/backgroundf.png);
}