
.background-container{
    margin: 0;
    height: calc(100vh + 110px);
    background-image: url(../../assets/backgroundf.png);
}
.banner{
    display: flex;
    justify-content: space-between;
}

.banner .info{
   
    padding: 40px;
    width: 40%;
    display: flex;
    flex-direction: column;
    
}
.logo{
    padding-left: 55px;
    width: 120px;
    padding-bottom: 20px;
}
.title{
  padding-bottom: 60px;
  width: 565px;
  
}
.banner h1{
    font-size: 23px;
    font-style: italic;
    letter-spacing: 4px;
    padding-left: 55px;
    color: white;
    padding-bottom: 25px;
}
.banner button{
    margin-bottom: 10px;
    margin-left: 55px;
  
}
.banner p{
    color: var(--white-opatacity);
    letter-spacing: .12rem;
    margin-left: 55px;
    font-size: 17px;
    font-weight: 600;
    font-style: italic;
}
.banner-img {
    height: calc(100vh + 90px);
    display: flex;
    align-items: flex-end;
   
}
.banner-img .promo-img{
    width: 670px;
    
}
