
.background-container{
    margin: 0;
    height: calc(100vh + 110px);
    background-image: url(../../assets/backgroundf.png);
}
.banner{
    display: flex;
    justify-content: space-between;
}

.banner .info{
    padding: 20px;
    padding-top: 80px;
    width: 40%;
    display: flex;
    flex-direction: column;
    
}
.logo{
    padding-left: 55px;
    width: 110px;
    padding-bottom: 30px;
}
.title{
  padding-bottom: 40px;
  width: 520px;
  
}
.banner h1{
    font-size: 20px;
    font-style: italic;
    letter-spacing: 3px;
    padding-left: 55px;
    color: white;
    padding-bottom: 25px;
}
.banner button{
    margin-bottom: 20px;
    margin-left: 55px;  
}
.banner p{
    letter-spacing: .09rem;
    margin-left: 55px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    font-style: italic;
}

.banner-img{
   padding-top: 80px;
    
}
.banner-img img{
    
    width: 610px;
}