.header{
    padding-top: 30px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.menu{
    width: 37%;
    display: flex;
    justify-content: space-between;
    
}
.menu-item{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    letter-spacing: .138rem;
}
.menu-item a{
    font: bolder;
    font-size: 14px;
    color: white;
    transition: all .5s;
}
.menu-item a:hover{
    color: var(--white-opatacity);
}


#img-search{
    padding-right: 15px;
    height: 20px;
}
#img-search:hover{
    cursor: pointer;
}
.searchText{
    width: 80px;
    opacity: 0;
    border: none;
    transition: all .1s;
}
.search{
    display: flex;
    justify-content: flex-end;
    margin-left: 40px;
    width: 100px;
    height: 40px;
    margin-right: 40px;
    background-color: white;
    border-radius: 6rem;
    display: flex;
    align-items:center;
    transition: all .2s;
}

.txtActive{
    opacity: 1;
}
.activeBar{
    width: 160px;
}