.header{
    height: 140px;
    width: auto;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 auto;
}
.menu-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu{
    
    display: flex;
    transition: all .1s;
}
.menu-item{
    display: flex;
    font-weight: bolder;
    letter-spacing: .138rem;
    margin: 0;
}
.menu-item a{
    font: bolder;
    margin-right: 61px;
    font-size: 14px;
    color: white;
    transition: all .5s;
}
.menu-item a:hover{
    color: var(--white-opatacity);
}


#img-search{
    padding-right: 15px;
    height: 20px;
}
#img-search:hover{
    cursor: pointer;
}
.searchText{
    width: 80px;
    opacity: 0;
    border: none;
    transition: all .1s;
}
.search{
    display: flex;
    justify-content: flex-end;
    width: 150px;
    height: 40px;
   
    background-color: white;
    border-radius: 6rem;
    display: flex;
    align-items:center;
    transition: all .2s;
}

.txtActive{
    opacity: 1;
}
.activeBar{
    width: 160px;
}